@import '@/assets/styles/lib';

.Input {
    margin-bottom: 10px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        background: #f5f6f7;
        border: 1px solid #dfe5ea;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 10px 14px;
        cursor: default;
    }

    &__label {
        font-size: 10px;
        line-height: 10px;
        color: #949ea0;
    }
    &__field {
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        margin-top: 5px;
        font-size: 13px;
        line-height: 13px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        color: #334144;
    }
    &__error {
        min-height: 10px;
        color: $error;
        font-size: 10px;
        line-height: 10px;
        margin: 0;
        margin-top: 2px;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
    &__hasError &__wrapper {
        background-color: #fddfe2;
        color: #f23648;
        border-color: #f23648;
    }

    &__hasError,
    &__error {
        color: #f23648;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f5f6f7 inset !important;
}
